.card{
    width: 23%;
    height: 480px;
    background-color: rgba(255,255,255, 0.5);
    padding: 2%;
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 500ms linear;

    &:hover{
        background-color: rgba(255,255,255, 1);
        transform: scale(1.1)
    }

    @media #{$BREAKPOINT-TABLET-LAND}{
        height: 450px;
    }

    @media #{$BREAKPOINT-TABLET}{
        width: 32%;
    }

    @media #{$BREAKPOINT-MOBILE-LAND}{
        width: 48%;
    }

    @media #{$BREAKPOINT-MOBILE}{
        width: 98%;
        height: 530px;
    }  

    .foto{
        height: 68%;
        position: relative;

        img{
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        @media #{$BREAKPOINT-TABLET-LAND}{
            height: 60%;
        }  
        
        @media #{$BREAKPOINT-MOBILE}{
            height: 70%;
        }  
    }

    .infos{
        h2{
            text-align: center;
            margin: 5px 0;

            @media #{$BREAKPOINT-TABLET}{
                font-size: 1.2em;
            }
            
        }

        p{
            margin: 3px 0;
            &:not(:last-child){
                border-bottom: 1px solid $GRAY-LIGTH;
            }
        }

    }
}
