/*|---------------| App Color Schema|---------------*/
$GRAY: #26393D;
$RED: #761919;
$BROWN: #D2BA97;
$GRAY-LIGTH: #466363;
$WHITE: #FFFFFF;




/*|---------------| BREAKPOINTS|---------------*/

// Usage example:  @media #{$BREAKPOINT-DESK}

$BREAKPOINT-DESK: "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: "only screen and (min-width: 480px)";

/*|---------------|MIXINS|---------------*/

@mixin margin-page {
    width: calc(100% - 30px);
    margin: 0 auto;
  
    @media #{$BREAKPOINT-DESK} {
      max-width: 1200px;
    }
}