/*|---------------| App Color Schema|---------------*/
$GRAY: #26393D;
$RED: #761919;
$BROWN: #D2BA97;
$GRAY-LIGTH: #466363;
$WHITE: #FFFFFF;




/*|---------------| BREAKPOINTS|---------------*/

// Usage example:  @media #{$BREAKPOINT-DESK}

$BREAKPOINT-TABLET-LAND: "only screen and (max-width: 1280px)";
$BREAKPOINT-TABLET: "only screen and (max-width: 975px)";
$BREAKPOINT-MOBILE-LAND: "only screen and (max-width: 600px)";
$BREAKPOINT-MOBILE: "only screen and (max-width: 400px)";

/*|---------------|MIXINS|---------------*/

@mixin margin-page {
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1200px;

    @media #{$BREAKPOINT-TABLET} {
      max-width: 980px;
    }    

    @media #{$BREAKPOINT-MOBILE-LAND} {
      padding: 30px 0;
    }    
}